// helpers
$toggler-size: 40px;
$item-size: $toggler-size * 2;

@mixin size ($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin absolute-center {
  position: absolute;
  display: block;
  top: -95%;
  bottom: 0;
  right: 0;
  left: -95%;
  margin: auto;
}

.menu-toggler {
  @include absolute-center;
  @include size($toggler-size);
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  &:hover + label,
  &:hover + label:before,
  &:hover + label:after {
    background-color: darkgray;
  }
}

.menu-toggler:checked + label {
  background-color: darkgray;
}

.menu-toggler:checked ~ ul {
  .menu-item {
    opacity: 1;
  }
  .menu-item a {
    pointer-events: auto;
  }
}

.menu-toggler + label {
  @include size($toggler-size, $toggler-size);
  display: block;
  z-index: 1;
  background-color: lightgray;
  border-radius: 50%;
}

.menu-item {
  @include absolute-center;
  @include size(40px);
  display: block;
  opacity: 0;
  transition: .5s;
  background-color: #bbb;
  border-radius: 50%;
}

.folder {
  background-color: lightgray;
}

.picture {
  background-color: blue;
}

.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: $item-size;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: $item-size/2;
  pointer-events: none;
  transition: .2s;
  
  &:hover {
    box-shadow: 0 0 0 $item-size/40 rgba(white, 0.3);
    font-size: $item-size/1.8;
  }
}